<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<header>
    <nav #navbar class="navbar bg-transparent  z-30 fixed left-0 top-0 w-full duration-500">
        <div class="container_header h-[4.5rem] flex items-center justify-between">
            <div class="ml-20 w-48 h-full flex items-center"> <!-- Añadimos altura completa al contenedor del logo -->
                <div class="logo-container">
                    <a [routerLink]="['/']"><img src="assets/logo.png" alt="logo" class="logo-img">
                    </a><!-- Ajustamos tamaño del logo -->
                </div>
            </div>
           <div>
            <div id="search-bar" class="flex space-x-4 unified-input search-container">
                <div class="input-icon-wrapper">
                  <i class="fas fa-map-marker-alt icon"></i>
                  <input 
                    type="text" 
                    placeholder="Buscar departamentos" 
                    class="border-none p-2 rounded-l-md pl-10" 
                    (input)="onSearchChange($event)"
                    [(ngModel)]="searchQuery"

                  >
                </div>
                <div class="select-icon-wrapper">
                  <i class="fas fa-tags icon"></i>
                  <select class="border-none p-2 pl-10 rounded-lg mt-4 bg-gray-100 text-gray-800" [(ngModel)]="categoriaBuscada">
                    <option disabled selected value="">Categoria</option>
                    <option *ngFor="let item of tableData" [value]="item.id" [ngValue]="item.nombre" >{{ item.nombre }}</option>
                  </select>
                </div>
                <button (click)="searchLocation()" class="bg-purple-900 text-white p-2 rounded-r-md">Buscar</button>
              </div>
      
              <div class="suggestions-container">
                <ul *ngIf="suggestions.length > 0">
                  <li *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)">
                    {{ suggestion.display_name }}
                  </li>
                </ul>
              </div>

              
            </div>
          

            <div class="flex items-center mr-20 cabezera"> <!-- Agregamos margen a la derecha y alineamos elementos 
                (click)="redirigirComponenteC()"-->
                <a [routerLink]="['/telos']" class="mx-4">Telos</a>
                <a [routerLink]="['/funciona']" target="_blank" rel="noopener noreferrer" class="mx-4">¿Como
                    Funciona?</a>
                <a [routerLink]="['/centro-de-ayuda']" class="mx-4">Ayuda</a>
                <div class="ml-8"> <!-- Agregamos margen a la izquierda del botón -->
                    <div type="button" *ngIf="mostrarBotonD" class="btn_primary py-1.5 hidden md:block custom-button">
                        Pre-Registro
                    </div>
                </div>
            </div>
        </div>
        <section class="filtrado">
            <div class="categorias bg-gray-200">
                <div class="wrapper ml-8">
                    <div class="price-input">
                        <div class="field">
                            <span >Min</span>
                            <div class="input-wrapper">
                                <span class="currency">S/.</span>
                                <input type="number" class="input-min" [value]="minValue"
                                    (input)="updateRangeByInput()">
                            </div>
                        </div>
                        <div class="separator">-</div>
                        <div class="field ">
                            <span>Max</span>
                            <div class="input-wrapper">
                                <span class="currency">S/.</span>
                                <input type="number" class="input-max" [value]="maxValue"
                                    (input)="updateRangeByInput()">
                            </div>
                        </div>
                    </div>
                    <div class="ml-2">
                        <div class="slider">
                            <div class="progress"></div>
                        </div>
                        <div class="range-input">
                            <input type="range" class="range-min" min="10" max="400" [value]="minValue"
                                (input)="updateRangeBySlider()">
                            <input type="range" class="range-max" min="10" max="400" [value]="maxValue"
                                (input)="updateRangeBySlider()">
                        </div>
                    </div>
                    
                </div>
                <div class="categoria">
                    <button class="tab-link  ml-14" [class.active]="selectedCategoria === 1"
                        (click)="showCity(1)">
                        <span class="material-symbols-outlined">home</span><br>
                        <span>Fichos</span>
                    </button>
                </div>
                <div class="categoria">
                    <button class="tab-link" [class.active]="selectedCategoria === 2"
                        (click)="showCity(2)">
                        <span class="material-symbols-outlined">bed</span><br>
                        <span>Tematicos</span>
                    </button>
                </div>
                <div class="categoria">
                    <button class="tab-link" [class.active]="selectedCategoria === 3"
                        (click)="showCity(3)">
                        <span class="material-symbols-outlined">hotel</span><br>
                        <span>Caletas</span>
                    </button>
                </div>
                <div class="categoria">
                    <button class="tab-link" [class.active]="selectedCategoria === 4" (click)="showCity(4)">
                        <span class="material-symbols-outlined">concierge</span><br>
                        <span>LGBTIQ+</span>
                    </button>
                </div>
                <div class="categoria">
                    <button class="tab-link" [class.active]="selectedCategoria === 5" (click)="showCity(5)">
                        <span class="material-symbols-outlined">hot_tub</span><br>
                        <span>Bungalows</span>
                    </button>
                </div>
                <div class="categoria">
                    <button class="tab-link" [class.active]="selectedCategoria === 6" (click)="showCity(6)">
                        <span class="material-symbols-outlined">single_bed</span><br>
                        <span>Baratos</span>
                    </button>
                </div>
                



                <!-- Agregar más categorías según sea necesario -->
                <div class="categoria">
                    <button (click)="openModal()" style="margin-left: 74vh;">
                        <span class="material-symbols-outlined">tune</span><br>
                        <span>Filtros</span>
                    </button>
                </div>
            </div>
        </section>
      
    </nav>
</header>
<br><br><br><br><br><br><br>
<div *ngIf="isModalOpen" class="fixed inset-0 flex items-center justify-center z-50 top-16 bottom-20" style="height: 620px">
    <div class="fixed inset-0 bg-black opacity-50"></div>
    <div class="bg-white rounded-lg overflow-y-auto max-h-full shadow-xl transform transition-all sm:max-w-lg sm:w-full">

        <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
            <button type="button"
                class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-purple-600 text-base font-medium text-white hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500 sm:ml-3 sm:w-auto sm:text-sm"
                (click)="closeModal()">
                Cerrar
            </button>
            <h3 class="text-lg leading-6 font-medium text-gray-900 mr-80" style="margin-top: 5px;">
                Filtros
            </h3>
        </div>

        <div class="px-4 py-5 sm:p-6">

            <div class="mt-2">
                <h2 class="text-lg font-semibold mb-2">Categoria</h2>
                <p>Busca habitaciones, alojamientos enteros o cualquier tipo de espacio</p>
                <section class="bg-gray-100 p-4 rounded-lg">
                    <div class="flex justify-around space-x-2">
                        <button class="bg-purple-500 text-white flex-1 py-2 rounded hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-400 text-xs">Fichos</button>
                        <button class="bg-purple-500 text-white flex-1 py-2 rounded hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-400 text-xs">Tematicos</button>
                        <button class="bg-purple-500 text-white flex-1 py-2 rounded hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-400 text-xs">Caletas</button>
                        <button class="bg-purple-500 text-white flex-1 py-2 rounded hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-400 text-xs">LGBTIQ+</button>
                        <button class="bg-purple-500 text-white flex-1 py-2 rounded hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-400 text-xs">Bungalows</button>
                        <button class="bg-purple-500 text-white flex-1 py-2 rounded hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-400 text-xs">Baratos</button>
                    </div>
                </section>
                <!-- Add your filter controls here -->
            </div>

            <hr>
            <div class="mt-2">
                <h2 class="text-lg font-semibold mb-2">Habitaciones y Camas</h2>
                <div class="mb-4">
                    <h3 class="text-sm font-semibold mb-2">Habitaciones</h3>
                    <div class="space-x-2">
                        <!-- Botones de selección para Habitaciones -->
                        <button class="px-3 py-1 bg-purple-500 text-white rounded">Cualquiera</button>

                        <button class="px-3 py-1 bg-purple-500 text-white rounded">1</button>
                        <button class="px-3 py-1 bg-purple-500 text-white rounded">2</button>
                        <button class="px-3 py-1 bg-purple-500 text-white rounded">3</button>
                        <button class="px-3 py-1 bg-purple-500 text-white rounded">4</button>
                        <button class="px-3 py-1 bg-purple-500 text-white rounded">5</button>
                        <button class="px-3 py-1 bg-purple-500 text-white rounded">6</button>
                        <button class="px-3 py-1 bg-purple-500 text-white rounded">7</button>
                        <button class="px-3 py-1 bg-purple-500 text-white rounded">8 +</button>
                    </div>
                </div>
                <div class="mb-4">
                    <h3 class="text-sm font-semibold mb-2">Camas</h3>
                    <div class="space-x-2">
                        <!-- Botones de selección para Camas -->
                        <button class="px-3 py-1 bg-purple-500 text-white rounded">Cualquiera</button>

                        <button class="px-3 py-1 bg-purple-500 text-white rounded">1</button>
                        <button class="px-3 py-1 bg-purple-500 text-white rounded">2</button>
                        <button class="px-3 py-1 bg-purple-500 text-white rounded">3</button>
                        <button class="px-3 py-1 bg-purple-500 text-white rounded">4</button>
                        <button class="px-3 py-1 bg-purple-500 text-white rounded">5</button>
                        <button class="px-3 py-1 bg-purple-500 text-white rounded">6</button>
                        <button class="px-3 py-1 bg-purple-500 text-white rounded">7</button>
                        <button class="px-3 py-1 bg-purple-500 text-white rounded">8 +</button>
                    </div>
                </div>
                <div class="mb-4">
                    <h3 class="text-sm font-semibold mb-2">Baños</h3>
                    <div class="space-x-2">
                        <!-- Botones de selección para Baños -->
                        <button class="px-3 py-1 bg-purple-500 text-white rounded">Cualquiera</button>

                        <button class="px-3 py-1 bg-purple-500 text-white rounded">1</button>
                        <button class="px-3 py-1 bg-purple-500 text-white rounded">2</button>
                        <button class="px-3 py-1 bg-purple-500 text-white rounded">3</button>
                        <button class="px-3 py-1 bg-purple-500 text-white rounded">4</button>
                        <button class="px-3 py-1 bg-purple-500 text-white rounded">5</button>
                        <button class="px-3 py-1 bg-purple-500 text-white rounded">6</button>
                        <button class="px-3 py-1 bg-purple-500 text-white rounded">7</button>
                        <button class="px-3 py-1 bg-purple-500 text-white rounded">8 +</button>
                    </div>
                </div>
                <!-- Add your filter controls here -->
            </div>

            <hr>
          
            <div class="mt-2">
                <h2 class="text-lg font-semibold mb-2">Servicios</h2>
                <div class="flex justify-center space-x-4">
                    <label class="flex flex-col items-center cursor-pointer">
                        <span class="material-symbols-outlined text-gray-500 peer-checked:text-black">
                            wifi
                        </span>
                        <input type="checkbox" class="mt-2 w-4 h-4 text-gray-500 border-gray-300 rounded peer-checked:bg-black">
                    </label>
                    <label class="flex flex-col items-center cursor-pointer">
                        <span class="material-symbols-outlined text-gray-500 peer-checked:text-black">
                            tv
                        </span>
                        <input type="checkbox" class="mt-2 w-4 h-4 text-gray-500 border-gray-300 rounded peer-checked:bg-black">
                    </label>
                    <label class="flex flex-col items-center cursor-pointer">
                        <span class="material-symbols-outlined text-gray-500 peer-checked:text-black">
                            bed
                        </span>
                        <input type="checkbox" class="mt-2 w-4 h-4 text-gray-500 border-gray-300 rounded peer-checked:bg-black">
                    </label>
                    <label class="flex flex-col items-center cursor-pointer">
                        <span class="material-symbols-outlined text-gray-500 peer-checked:text-black">
                            bathtub
                        </span>
                        <input type="checkbox" class="mt-2 w-4 h-4 text-gray-500 border-gray-300 rounded peer-checked:bg-black">
                    </label>
                    <label class="flex flex-col items-center cursor-pointer">
                        <span class="material-symbols-outlined text-gray-500 peer-checked:text-black">
                            garage
                        </span>
                        <input type="checkbox" class="mt-2 w-4 h-4 text-gray-500 border-gray-300 rounded peer-checked:bg-black">
                    </label>
                    <label class="flex flex-col items-center cursor-pointer">
                        <span>
                            <img src="../../../assets/img/netflix.png" alt="" class="w-6 h-6 text-gray-500 peer-checked:text-black">
                        </span>
                        <input type="checkbox" class="mt-2 w-4 h-4 text-gray-500 border-gray-300 rounded peer-checked:bg-black">
                    </label>
                </div>
            </div>
            <br>            
            <hr>
            <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <button type="button"
                    class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-purple-600 text-base font-medium text-white hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500 sm:ml-3 sm:w-auto sm:text-sm"
                    (click)="closeModal()">
                    Buscar
                </button>
             
            </div>
        </div>
    </div>
</div>

<section class="contenedor">
    <div class="categorias2">
        <div>
            <div *ngIf="selectedCategoria === 1" class="tab-content">
                <div class="city-container grid grid-cols-1 sm:grid-cols-3 gap-4">
                  <div *ngFor="let hostal of getFilteredHostales()" class="card bg-white shadow-md rounded-lg overflow-hidden carousel">
                    <div class="carousel-inner">
                      <img style="height: 200px;" *ngFor="let foto of getFotosForHostal(hostal.codigo)" [src]="foto.url" alt="{{ hostal.descripcion }}" class="carousel-item">
                    </div>
                    <div class="card-info p-4">
                      <h3 class="text-xl font-semibold mb-2">{{ hostal.nombre }}</h3>
                      <p class="text-gray-600">{{ hostal.descripcion }}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="selectedCategoria === 2" class="tab-content">
                <div class="city-container grid grid-cols-1 sm:grid-cols-3 gap-4">
                  <div *ngFor="let hostal of getFilteredHostales()" class="card bg-white shadow-md rounded-lg overflow-hidden carousel">
                    <div class="carousel-inner">
                      <img style="height: 200px;" *ngFor="let foto of getFotosForHostal(hostal.codigo)" [src]="foto.url" alt="{{ hostal.descripcion }}" class="carousel-item">
                    </div>
                    <div class="card-info p-4">
                      <h3 class="text-xl font-semibold mb-2">{{ hostal.nombre }}</h3>
                      <p class="text-gray-600">{{ hostal.descripcion }}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="selectedCategoria === 3" class="tab-content">
                <div class="city-container grid grid-cols-1 sm:grid-cols-3 gap-4">
                  <div *ngFor="let hostal of getFilteredHostales()" class="card bg-white shadow-md rounded-lg overflow-hidden carousel">
                    <div class="carousel-inner">
                      <img style="height: 200px;" *ngFor="let foto of getFotosForHostal(hostal.codigo)" [src]="foto.url" alt="{{ hostal.descripcion }}" class="carousel-item">
                    </div>
                    <div class="card-info p-4">
                      <h3 class="text-xl font-semibold mb-2">{{ hostal.nombre }}</h3>
                      <p class="text-gray-600">{{ hostal.descripcion }}</p>
                    </div>
                  </div>
                </div>
              </div>

        </div>

    </div>
   
    <div class="map-container">
        <div class="map-frame">
            <div id="map"></div>
        </div>
    </div>
  

</section>