<section>
    <div>
        <img src="../../../../assets/img/funciona1.webp" alt="">
        <p>Precio por habitación y pack de horas</p>
    </div>
    <div>
        <img src="../../../../assets/img/funciona2.png" alt="">
        <p>Decide la hora de entrada del hotel</p>
    </div>
    <div>
        <img src="../../../../assets/img/funciona3.webp" alt=""><br>
        <p>Confirmación inmediata en todas tus reservas</p>
    </div>
    <div>
        <img src="../../../../assets/img/funciona4.png" alt="">
        <p>Ahorra reservando tu hotel por horas</p>
    </div>
</section>