<section>
    <div class="container">
        <!-- ¿Cómo reservar unas horas de habitación con TELOdigo?
         Para reservar una habitación con TELOdigo, solo debes seguir estos sencillos pasos: -->
        <h1>¿Cómo reservar unas horas de habitación<br> con TELOdigo? </h1>
        <h2> Para reservar una habitación con TELOdigo <br>solo debes seguir estos sencillos pasos:</h2>
        <div class="pasos">
            <div class="paso">
                <p>01. Navega por nuestra app, selecciona la ciudad y la categoría que más te gustaría para alojarte.</p>
            </div>
            <div class="paso">
                <p>02. Elige el tipo de habitación y la cantidad de horas que prefieres para tu estancia.</p>
            </div>
            <div class="paso">
                <p>03. ¡Paga con tus medios de pago favoritos y LISTO! Tienes 1 hora máximo para llegar al telo.</p>
            </div>
            <div class="paso">
                <p>04. Relájate y disfruta del tiempo que has reservado, con toda la comodidad y privacidad que necesitas.</p>
            </div>
        </div>
        <h2>¡Ahora solo te queda disfrutar de tu estancia! ¿Empezamos?</h2>
        <div class="pasos-2">
            <p>•	Reserva tu pack de horas de habitación y ahorra en cada reserva.</p>
            <p>•	Reserva tu pack de horas de habitación y ahorra en cada reserva.</p>
            <p>•	Siéntete libre de pedir más horas en la habitación directamente con el recepcionista.</p>
            <!-- <p>Más de X descargas de la aplicación móvil ¿Ya tienes la tuya? <a href="">Descargatela aquí</a></p> -->
        </div>
    </div><br><br>
</section>
