
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<section>
<div class="container mx-auto p-4 pt-6 flex justify-center font-sans py-32">
    <div class="w-1/2 p-4 ">
        <div class="mt-36 mx-16 ">
            <!-- Descarga la app y comienza a disfrutar con TELOdigo! 
            Olvídate de complicaciones y únete a la revolución de la reserva de habitaciones por horas. Encuentra el lugar perfecto al instante, con total privacidad y promociones exclusivas. ¡Es rápida, fácil y está pensada para ti! 
            -->
            <h2 class="text-3xl poppins-black  mb-4">Descarga la app</h2>
            <h2 class="text-3xl poppins-black mb-4">y comienza a disfrutar con TELOdigo!</h2>
            <p class="text-xs mt-6 poppins-light"> Olvídate de complicaciones y únete a la revolución de la reserva de habitaciones por horas. Encuentra el lugar perfecto al instante, </p>
            <p class="text-xs poppins-light"> con total privacidad y promociones exclusivas. ¡Es rápida, fácil y está pensada para ti! </p>

            <div class="flex mt-10 ">
                <img class="mr-1" src="../../../../assets/img/app_store.png" alt="appleStore" style="width: 105px;height: 36px;">
                <img class="ml-1" src="../../../../assets/img/google_play.png" alt="googlePlay" style="width: 105px;height: 36px;">
            </div>
            
            
        </div>

    </div>
    <div class="w-1/2 p-4">
        <div class="circle-container"> 
            <img src="../../../../assets/img/phone_screen_hero.png" alt="googlePlay" >
           
            <div class="circle circle-3 -z-10"></div>
            <div class="circle circle-4 -z-10"></div>
            <div class="circle circle-5 -z-10"></div>
            <div class="circle circle-top-left"></div>
            <div class="circle circle-top-right"></div>
            <div class="circle circle-bottom-left"></div>
            <div class="circle circle-bottom-right"></div>
            <!-- 
            <div class="circle circle-top-left"></div>
            <div class="circle circle-top-right"></div>
            <div class="circle circle-bottom-left"></div>
            <div class="circle circle-bottom-right"></div>
            <div class="circle circle-1"></div>
            <div class="circle circle-2"></div>
            <div class="circle circle-3"></div>
            <div class="circle circle-4"></div>
            <div class="circle circle-5"></div> -->
        </div>
    </div>
  </div>
</section>





<!-- 
  <section class="flex flex-col items-center justify-center gap-4">
    <h2 class="text-3xl font-bold">DOWNLOAD APP & GET THE VOUCHER!</h2>
    <p class="text-sm">Get 30% off for first transaction using Rondovision mobile app for now.</p>
    <div class="w-48 h-48 bg-black text-white flex flex-col items-center justify-center gap-2">
        <p class="font-bold text-lg">FOTO</p>
        <p>DE</p>
        <p>PERFIL</p>
    </div>
</section> -->