<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">

<footer class="bg-black text-[#FFFFFF] py-20 font-sans2">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
      <div class="mb-6 md:mb-0" style="margin: 40px">
        <h2 class="text-2xl font-bold mb-4 font-sans2">TELOdigo</h2>
        <p class="text-xs mt-8 font-normal text-[#C2C8DA]">Complete your style with awesome </p>
        <p class="text-xs text-[#C2C8DA]">clothes from us.</p>
        <div class="mt-6">
          <a href="#" class="bg-[#E6C744] text-black px-2 py-0.5 rounded-lg mr-2">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="bg-[#E6C744] text-black px-2 py-0.5 rounded-lg mr-2">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#" class="bg-[#E6C744] text-black px-2 py-0.5 rounded-lg mr-2">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="bg-[#E6C744] text-black px-2 py-0.5 rounded-lg mr-2">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </div>
      <div class="flex flex-col md:flex-row space-y-6 md:space-y-0 md:space-x-36" style="margin-right: 100px;">
        <div>
          <h3 class="text-sm  mb-4">Company</h3>
          <ul class="text-sm">
            <li class="mt-5 font-normal text-xs text-[#C2C8DA]"><a href="#" class="hover:underline">About</a></li>
            <li class="mt-5 font-normal text-xs text-[#C2C8DA]"><a href="#" class="hover:underline">Contact us</a></li>
            <li class="mt-5 font-normal text-xs text-[#C2C8DA]"><a href="#" class="hover:underline">Support</a></li>
            <li class="mt-5 font-normal text-xs text-[#C2C8DA]"><a href="#" class="hover:underline">Careers</a></li>
          </ul>
        </div>
        <div>
          <h3 class="text-sm mb-4">Quick Link</h3>
          <ul class="text-sm">
             <li class="mt-5 font-normal text-xs text-[#C2C8DA]"><a href="#" class="hover:underline">Share Location</a></li>
             <li class="mt-5 font-normal text-xs text-[#C2C8DA]"><a href="#" class="hover:underline">Orders Tracking</a></li>
             <li class="mt-5 font-normal text-xs text-[#C2C8DA]"><a href="#" class="hover:underline">Size Guide</a></li>
             <li class="mt-5 font-normal text-xs text-[#C2C8DA]"><a href="#" class="hover:underline">FAQs</a></li>
          </ul>
        </div>
        <div>
          <h3 class="text-sm  mb-4">Legal</h3>
          <ul class="text-sm">
             <li class="mt-5 font-normal text-xs text-[#C2C8DA]"><a href="#" class="hover:underline">Terms & conditions</a></li>
             <li class="mt-5 font-normal text-xs text-[#C2C8DA]"><a href="#" class="hover:underline">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>