.radiu {
    border-radius: 2cm;
}

.fondo-i {
    background-color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    height: 570px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 20px;
    padding: 20px;
}

.text-p {
    font-weight: bold;
    font-size: 24px;
}

.rectangulo-movido,
.rectangulo-movido2,
.texto-simple {
    display: inline-block;
    margin-bottom: 10px;
    padding: 20px;
}

.rectangulo-movido,
.rectangulo-movido2 {
    transform: rotate(-3deg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rectangulo-movido {
    background-color: white;
    color: #5A007A;
}

.rectangulo-movido2 {
    background-color: #5A007A;
    color: white;
}

.tamano-letter {
    font-size: 4.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 1000;
    white-space: nowrap;
    padding: 10px;
}


.container img {
    max-width: 100%;
    height: auto;
    margin-left: 20px;
    padding: 10px;
    border-radius: 0.375rem;
}
.unified-input {
    display: inline-flex;
    align-items: stretch;
    border: 1px solid gray;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: #F4F6F5;
    margin-top: 20px;
    min-width: 200px;
    max-width: 500px;
   
}

.unified-input:focus-within {
    border-color: #555;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.unified-input .input-icon-wrapper,
.unified-input .select-icon-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 1px;
}

.unified-input .input-icon-wrapper .icon,
.unified-input .select-icon-wrapper .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

.unified-input input,
.unified-input select {
    border: none;
    outline: none;
    box-shadow: none;
    margin: 0;
    padding-left: 2.5rem;
    flex: 1;
    background-color: transparent;
    font-size: 16px;
    color: #555;
    height: 100%; /* Ajusta la altura del input y select */
}

.unified-input input::placeholder,
.unified-input select::placeholder {
    color: #888;
}

.unified-input button {
    flex-shrink: 0;
    padding: 0.5rem 1.8rem;
    background-color: #5A007A;
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.unified-input button:hover {
    background-color: #410056;
}


ul {
    display: flex;
    list-style-type: none;
    gap: 20px;

    li {
        background-color: lightblue;
        padding: 10px 20px;
        cursor: pointer;
    }
}
a {
  cursor: pointer;
}


.custom-button {
    border-radius: 20px; /* Bordes redondeados */
    box-shadow: 
      0 0 3px #511771, /* Sombra interna con el color del borde */
      0 0 6px #511771, /* Sombra media con el color del borde */
      0 0 9px #511771, /* Sombra externa con el color del borde */
      0 0 12px rgba(122, 120, 124, 0.4); /* Sombra exterior fosforescente */
    background-color: #511771; /* Fondo lila */
    color: white; /* Color del texto */
    padding: 5px 24px; /* Espaciado interno */
    width: auto; /* Ancho automático */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transiciones suaves */
    font-size: 14px;
    font-family: 'Roboto', sans-serif; /* Fuente Roboto */
    font-weight: 300; /* Peso de la fuente (delgada) */
  }
  
  .custom-button:hover {
    background-color: white; /* Fondo blanco al pasar el cursor */
    color: black; /* Texto negro al pasar el cursor */
    cursor: pointer;
  }

  .cabezera a{
    color: black;
    font-weight: bold;
  }

  .registro a{
    color: white;
    font-weight: bold;
  }
  .bg-purple{
  
    background-color: #511771;
}

.bg-purple a{
  color: white;
}

.bg-purple .btn_primary{
  background-color: white;
  color: #511771;
  font-weight: bold;
  cursor: pointer;
}

.container_header {
  height: 4.5rem; /* Ajustamos la altura del header */
}

.logo-container {
  width: 4.5rem; /* Igualamos el ancho al alto del header */
  height: 4.5rem; /* Igualamos el alto al alto del header */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem; /* Ajustamos márgenes según tus preferencias */
  border-radius: 50%; /* Hacemos el contenedor completamente circular */
  overflow: hidden; /* Ocultamos cualquier contenido que exceda del contenedor circular */
}

.logo-img {
  width: 100%; /* Ajustamos el tamaño de la imagen */
  height: auto; /* Permitimos que la altura se ajuste automáticamente */
  object-fit: contain; /* Ajustamos la imagen para que quepa completamente dentro del contenedor */
}

.fixed-search-bar {
    position: fixed;
    top: -0.3rem; /* Ajusta esta posición según la altura de tu header */
    left: 30%;
    transform: translateX(-50%);
    z-index: 1000; /* Ajusta este valor según sea necesario */
    width: 500px; /* Mantén el mismo ancho */
  }
  
.smartPhone{
    width: 100%;
}

.tablet{
  width: 100%;
}