<section class="bg-[#E6C744]">
    <div class="container mx-auto p-4 pt-6 flex justify-center font-sans py-32-400">
        <div class="w-1/2 p-4">
            <img src="../../../../assets/img/phone_screen_hero.png" alt="googlePlay">
        </div>
        <div class="w-1/2 p-4">
            <div class="h-screen flex justify-center items-center">
                <div>
                    <div class="paralelogramo">
                        <h1 class="text-5xl font-bold poppins-black letra text-black">¡Únete a TELOdigo!</h1>
                    </div>

                    <h1 class="text-5xl mt-5 font-bold poppins-black text-black">
                        y potencia tu negocio
                    </h1>

                    <p class="text-xl mt-6 poppins-medium text-black">📈Aumenta tus reservas y tu marketing</p>
                    <br>
                    <p class="text-xl poppins-medium text-black">🛎️Gestiona fácilmente tus habitaciones con nuestras herramientas gratuitas</p>
                    
                    <p class="text-xl mt-6 poppins-medium text-black">✅Accede a promociones exclusivas</p>
                    <p class="text-lg poppins-bold poppins-medium text-black">No te quedes atrás, sé parte del cambio y lleva tu establecimiento al siguiente nivel.</p>
                    <button class="bg-black mt-6 hover:bg-black-100 poppins-medium text-white py-2 px-4 rounded">
                     <!-- <a [routerLink]="['/eres-hotelero']> REGISTRA TU NEGOCIO</a>   -->
                <a [routerLink]="['/eres-hotelero']" class="mx-4">¿Eres dueño de un  establecimiento?</a>

                    </button>
                </div>
            </div>
        </div>
    </div>
</section>


<!--
<section class="bg-white">
    <div class="container mx-auto py-8 flex flex-col gap-4">
        <h2 class="text-3xl font-bold mb-4 mt-[-150px]" style="margin-left: 100px;">FRASEE</h2>
        <div class="w-full flex justify-center gap-4">
            <div class="w-1/2 p-2 text-center mt-[-20px]">
                <img src="../../../../assets/img/hot-1.jpg" alt="Imagen 1" class="rounded-lg w-full h-auto max-w-xl mx-auto" style="border-radius: 30px;">
            </div>
            <div class="w-1/2 p-2 text-center mt-[-20px]">
                <img src="../../../../assets/img/hot-2.jpg" alt="Imagen 2" class="rounded-lg w-full h-auto max-w-xl mx-auto" style="border-radius: 30px;">
            </div>
        </div>
    </div>
</section>-->




