.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }


  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

  }

  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

.letra{
  
  margin-top: 0px;
  transform: translateX(20px) translateY(15px)  rotate(3deg) ;
}

.paralelogramo{
    width: 500px;
    height: 80px;
    background-color: #FFFFFF;
    transform: rotate(-3deg) translateX(-20px) ;
}