<section>
    <div class="container">
        <div>
            <h2 class="text-ini">Beneficios</h2>
            <h1 class="text-telo">TELOdigo</h1>
        </div>
        <div class="beneficios">
            <div class="beneficio">
                <h1>Encuentra lo que necesitas en un clic</h1>
                <p>Nuestro mapa interactivo te permite encontrar habitaciones disponibles al instante, según tu ubicación y preferencias.</p>
            </div>
            <div class="beneficio">
                <h1>Reserva fácil y rápido</h1>
                <p> ¡Evita el roche del rebote de telo en telo! Con unos pocos clicks, tu habitación estará lista para ti.</p>
            </div>
            <div class="beneficio">
                <h1>Privacidad garantizada</h1>
                <p>Tus datos y tus reservas son 100% confidenciales. Nos tomamos tu privacidad muy en serio.</p>
            </div>
            <div class="beneficio">
                <h1>Paga sin complicaciones</h1>
                <p>Puedes pagar tus reservas de manera segura y sin estrés a través de tus Tarjetas o con tus apps favoritas: YAPE, PLIN o en Efectivo.</p>
            </div>
            <div class="beneficio">
                <h1>Siempre a tu lado</h1>
                <p>Nuestro equipo de soporte está disponible las 24 horas, los 7 días de la semana, para ayudarte con cualquier duda o problema.</p>
            </div>
            <div class="beneficio">
                <h1>Libertad total</h1>
                <p> Creemos en la libertad sexual y en que cada uno viva su intimidad sin tabúes. Aquí encuentras un espacio donde puedes ser tú mismo.</p>
            </div>
        </div>
        
    </div>
</section>
