<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">

<body class="bg-gray-100">
        
    <section class="py-10 md:py-16">

        <div class="container max-w-screen-xl mx-auto px-4">

     
            <div class="text-center">
              

                <div class="logo-container" style="top: 220px;">
                    <a [routerLink]="['/']"><img src="../../../../../../assets/logo.png" alt="Logo" class="logo"></a>
                </div><br><br><br><br><br><br><br><br><br><br><br>
                <h6 class="font-medium text-gray-600 text-lg md:text-2xl uppercase mb-8">CONOCENOS</h6>

                <h1 class="font-normal text-gray-900 text-4xl md:text-7xl leading-none mb-8">¿Quienes Somos?</h1>

                <p class="font-normal text-gray-600 text-md md:text-xl mb-16">I have a passion for software. I enjoy creating tools that make life easier for people.
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit culpa consequuntur possimus suscipit minus at reiciendis eligendi magni molestias? Quisquam ipsum eos fugit, a nesciunt consequatur obcaecati neque voluptas culpa?</p>

            </div>

        </div>

    </section>

    <section class="py-10 md:py-16">

        <div class="container max-w-screen-xl mx-auto px-4">
            <p class="font-normal text-gray-600 text-md md:text-xl mb-16">Todo esto es posible gracias a los valores que nos caracterizan:            </p>

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-6">
                <div class="bg-gray-50 px-8 py-10 rounded-md">
                    <div class="w-20 py-6 flex justify-center bg-gray-100 rounded-md mb-4">
                        <i data-feather="activity"></i>
                    </div>

                    <h4 class="font-medium text-gray-700 text-lg mb-4">Atrevimiento</h4>

                    <p class="font-normal text-gray-500 text-md">No nos asusta el riesgo</p>
                </div>
                
                <div class="bg-gray-50 px-8 py-10 rounded-md">
                    <div class="w-20 py-6 flex justify-center bg-gray-100 rounded-md mb-4">
                        <i data-feather="codesandbox"></i>
                    </div>

                    <h4 class="font-medium text-gray-700 text-lg mb-4">Honestidad</h4>

                    <p class="font-normal text-gray-500 text-md">La transparencia siempre está presente en nuestro producto</p>
                </div>
                
                <div class="bg-gray-50 px-8 py-10 rounded-md">
                    <div class="w-20 py-6 flex justify-center bg-gray-100 rounded-md mb-4">
                        <i data-feather="coffee"></i>
                    </div>

                    <h4 class="font-medium text-gray-700 text-lg mb-4">Innovación</h4>

                    <p class="font-normal text-gray-500 text-md">Nos apasiona estar en constante evolución y mantener un pensamiento original y creativo</p>
                </div>
                <div class="bg-gray-50 px-8 py-10 rounded-md">
                    <div class="w-20 py-6 flex justify-center bg-gray-100 rounded-md mb-4">
                        <i data-feather="coffee"></i>
                    </div>

                    <h4 class="font-medium text-gray-700 text-lg mb-4">Compromiso</h4>

                    <p class="font-normal text-gray-500 text-md">Estamos dispuestos a dar lo mejor de nosotros día a día</p>
                </div>
                <div class="bg-gray-50 px-8 py-10 rounded-md">
                    <div class="w-20 py-6 flex justify-center bg-gray-100 rounded-md mb-4">
                        <i data-feather="coffee"></i>
                    </div>

                    <h4 class="font-medium text-gray-700 text-lg mb-4">Triunfadores</h4>

                    <p class="font-normal text-gray-500 text-md">No paramos hasta lograr lo que nos proponemos</p>
                </div>
            </div>

        </div>

    </section>


    <section class="py-10 md:py-16">

        <div class="container max-w-screen-xl mx-auto px-4">

            <h1 class="font-medium text-gray-700 text-3xl md:text-4xl mb-5">NUESTRA IDENTIDAD</h1>


            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6">
                <div class="bg-gray-50 px-8 py-10 rounded-md">
                    <h4 class="font-medium text-gray-700 text-lg mb-4">MISION</h4>

                    <p class="font-normal text-gray-500 text-md mb-4">Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua.</p>

                    <div class="relative">
                        <h6 class="font-semibold text-gray-500 text-md relative z-10">See the place here</h6>
                        <span class="w-32 h-1 bg-blue-200 absolute bottom-1 left-0 z-0"></span>
                    </div>
                </div>

                <div class="bg-gray-50 px-8 py-10 rounded-md">
                    <h4 class="font-medium text-gray-700 text-lg mb-4">VISION</h4>

                    <p class="font-normal text-gray-500 text-md mb-4">Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua.</p>

                    <div class="relative">
                        <h6 class="font-semibold text-gray-500 text-md relative z-10">See the place here</h6>
                        <span class="w-32 h-1 bg-blue-200 absolute bottom-1 left-0 z-0"></span>
                    </div>
                </div>



            </div>

        </div>

    </section>

    
    <section class="py-10 md:py-16">

        <div class="container max-w-screen-xl mx-auto px-4">

            <div class="flex flex-col lg:flex-row justify-between">
                <div class="mb-10 lg:mb-0">
                    <h1 class="font-medium text-gray-700 text-3xl md:text-4xl mb-5">Nuestro Equipo</h1>

                    <p class="font-normal text-gray-500 text-xs md:text-base">I have brought here my biggest and favorite works <br> as a professional.</p>
                </div>

                <div class="space-y-24">
                    <div class="flex space-x-6">
                        <h1 class="font-normal text-gray-700 text-3xl md:text-4xl">01</h1>

                        <span class="w-28 h-0.5 bg-gray-300 mt-5"></span>

                        <div>
                            <h1 class="font-normal text-gray-700 text-3xl md:text-4xl mb-5">NOMBREEEE</h1>

                            <p class="font-normal text-gray-500 text-sm md:text-base">A dummy data free and documented API generator to facilitate <br> the process of testing the front-end portion of projects.</p>
                        </div>
                    </div>
                    
                    <div class="flex space-x-6">
                        <h1 class="font-normal text-gray-700 text-3xl md:text-4xl">02</h1>

                        <span class="w-28 h-0.5 bg-gray-300 mt-5"></span>

                        <div>
                            <h1 class="font-normal text-gray-700 text-3xl md:text-4xl mb-5">NOMBREEEE</h1>

                            <p class="font-normal text-gray-500 text-sm md:text-base">A dummy data free and documented API generator to facilitate <br> the process of testing the front-end portion of projects.</p>
                        </div>
                    </div>
                    
                    <div class="flex space-x-6">
                        <h1 class="font-normal text-gray-700 text-3xl md:text-4xl">03</h1>

                        <span class="w-28 h-0.5 bg-gray-300 mt-5"></span>

                        <div>
                            <h1 class="font-normal text-gray-700 text-3xl md:text-4xl mb-5">NOMBREEEE</h1>

                            <p class="font-normal text-gray-500 text-sm md:text-base">A dummy data free and documented API generator to facilitate <br> the process of testing the front-end portion of projects.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <section class="py-10 md:py-16">
        <div class="container max-w-screen-xl mx-auto px-4">
            <div class="relative custom-div flex items-center justify-between p-6 rounded-lg shadow-lg">
                <div class="text-left text-white p-4">
                    <h2 class="text-3xl font-bold mb-4">Texto Ejemplo</h2>
                    <p class="mb-4">Este es un ejemplo de texto a la izquierda del div.</p>
                    <button class="bg-purple-700 text-white px-4 py-2 rounded-lg hover:bg-purple-600 transition duration-200">Botón</button>
                </div>
                <div class="absolute right-0 top-0 -mt-12">
                    <img src="../../../../../../assets/img/mobile_screens.png" alt="Imagen Vertical" class="vertical-image">
                </div>
            </div>
        </div>
    </section>
    


    <section class="py-10 md:py-16">

        <div class="container max-w-screen-xl mx-auto px-4">

            <h1 class="font-medium text-gray-700 text-3xl md:text-4xl mb-5">Clientes y Aliados</h1>


            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
                <img src="../../../../../../assets/img/ICONS/brand-1.png" alt="Image">

                <img src="../../../../../../assets/img/ICONS/brand-2.png" alt="Image">

                <img src="../../../../../../assets/img/ICONS/brand-3.png" alt="Image">

                <img src="../../../../../../assets/img/ICONS/brand-4.png" alt="Image">

                <img src="../../../../../../assets/img/ICONS/brand-5.png" alt="Image">

                <img src="../../../../../../assets/img/ICONS/brand-6.png" alt="Image">
            </div>

        </div>

    </section>




</body>